<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://addtoappointmentfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ab63e7f9-b92e-4f3f-96c4-ead1009f2b5c/resourceGroups/shivam-resourcegroup/providers/Microsoft.Web/sites/AddToAppointmentFunctionApp</ResourceId>
    <UserName>$AddToAppointmentFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://addtoappointmentfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>